<?xml version="1.0"?>
<config>
    <modules>
        <Ekkitab_Institute>
            <version>0.1</version>
        </Ekkitab_Institute>
    </modules>
    <global>
		<fieldsets>
            <institute_account>
                <name><create>1</create><name>1</name></name>
                <email><create>1</create></email>
                <type_id><create>1</create><update>1</update></type_id>
                <street><create>1</create></street>
                <locality><create>1</create></locality>
                <city><create>1</create></city>
                <region><create>1</create></region>
                <country><create>1</create></country>
                <postcode><create>1</create></postcode>
                <telephone><create>1</create><update>1</update></telephone>
                <website_url><create>1</create><update>1</update></website_url>
                <aboutus><create>1</create><update>1</update></aboutus>
                <aboutus_summary><create>1</create><update>1</update></aboutus_summary>
                <any_donation><create>1</create><update>1</update></any_donation>
				<admin_firstname><create>1</create><name>1</name></admin_firstname>
                <admin_lastname><create>1</create><name>1</name></admin_lastname>
                <admin_email><create>1</create></admin_email>
                <admin_password><create>1</create></admin_password>
                <admin_confirmation><create>1</create></admin_confirmation>
            </institute_account>
        </fieldsets>
		<blocks>
            <ekkitab_institute><class>Ekkitab_Institute_Block</class></ekkitab_institute>
        </blocks>
		<models>
            <ekkitab_institute>
                <class>Ekkitab_Institute_Model</class>
                <resourceModel>ekkitab_institute_resource_mysql4</resourceModel>
            </ekkitab_institute>
            <ekkitab_institute_resource_mysql4>
                <class>Ekkitab_Institute_Model_Resource_Mysql4</class>
                <entities>
                    <institute>
                        <table>ek_social_institutes</table>
                    </institute>
                    <institute_type>
                        <table>ek_social_institute_types</table>
                    </institute_type>
                </entities>
            </ekkitab_institute_resource_mysql4>
        </models>
		<resources>
            <ekkitab_institute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ekkitab_institute_write>
            <ekkitab_institute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ekkitab_institute_read>
        </resources>
		<helpers>
            <ekkitab_institute>
                <class>Ekkitab_Institute_Helper</class>
            </ekkitab_institute>
        </helpers>
        <template>
            <email>
                <ekkitab_institute_create_account_email_template translate="label" module="customer">
                    <label>New account</label>
                    <file>institute_new.html</file>
                    <type>html</type>
                </ekkitab_institute_create_account_email_template>
            </email>
        </template>
    </global>
   <frontend>
        <routers>
            <ekkitab_institute>
                <use>standard</use>
                <args>
                    <module>Ekkitab_Institute</module>
                    <frontName>ekkitab_institute</frontName>
                </args>
            </ekkitab_institute>
        </routers>
		<layout>
            <updates>
                <ekkitab_institute>
                    <file>institute.xml</file>
                </ekkitab_institute>
            </updates>
        </layout>
    </frontend>
	<default>
        <ekkitab_institute>
            <create_account>
                <confirm>0</confirm>
                <default_group>1</default_group>
                <email_domain>emaildomain.com</email_domain>
                <email_identity>general</email_identity>
                <email_template>ekkitab_institute_create_account_email_template</email_template>
            </create_account>
        </ekkitab_institute>
    </default>
</config>