<?xml version="1.0"?>
<config>
    <modules>
        <Ekkitab_Institute>
            <version>0.1</version>
        </Ekkitab_Institute>
    </modules>
    <global>
		<blocks>
            <ekkitab_institute><class>Ekkitab_Institute_Block</class></ekkitab_institute>
        </blocks>
		<models>
            <ekkitab_institute>
                <class>Ekkitab_Institute_Model</class>
                <resourceModel>ekkitab_institute_resource_mysql4</resourceModel>
            </ekkitab_institute>
            <ekkitab_institute_resource_mysql4>
                <class>Ekkitab_Institute_Model_Resource_Mysql4</class>
                <entities>
                    <institute>
                        <table>ek_social_institutes</table>
                    </institute>
                    <institute_type>
                        <table>ek_social_institute_types</table>
                    </institute_type>
                </entities>
            </ekkitab_institute_resource_mysql4>
        </models>
		<resources>
            <ekkitab_institute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ekkitab_institute_write>
            <ekkitab_institute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ekkitab_institute_read>
        </resources>
		<helpers>
            <ekkitab_institute>
                <class>Ekkitab_Institute_Helper</class>
            </ekkitab_institute>
        </helpers>

    </global>
   <frontend>
        <routers>
            <ekkitab_institute>
                <use>standard</use>
                <args>
                    <module>Ekkitab_Institute</module>
                    <frontName>ekkitab_institute</frontName>
                </args>
            </ekkitab_institute>
        </routers>
		<layout>
            <updates>
                <ekkitab_institute>
                    <file>institute.xml</file>
                </ekkitab_institute>
            </updates>
        </layout>
    </frontend>
</config>