body {
	margin: 0;
	padding: 0;
	background:#ffffff;
	background-image: url(../images/mainbg.png);
	background-position: center top;
	background-repeat: repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 65%;
	text-align:left;
}
a {
	text-decoration: none;
	color: #03c;
}
a:hover {
	text-decoration: underline;
}
.whiteBg {
	background-image: url(../images/whitebg.png);
	background-position: center top;
	background-repeat: no-repeat;
	width: 1000px;
	margin: 0 auto;
	padding: 0 0 20px 0;
	min-height: 800px;
}
.header {
	width: 960px;
	background-image: url(../images/header_1.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 104px;
	margin: 3px auto 0;
}
.wrapper {
	width: 940px;
	margin: 0 auto;
}
.topLinks {
	width: 175px;
	margin-left: 774px;
	text-align: center;
	line-height: 23px;
	color: #ccc;
}
.topLinks a, .topLinks a:visited {
	color: #fff;
	font-size: 1.1em;
	padding: 0 4px;
}
.topLinks a:hover {
	color: #fff;
}
.leftNavArea {
	width: 180px;
	float: left;
	line-height: 1.7em;
	/**border-right: 1px dotted #333;
	padding-right: 10px;
	margin-right: 10px;**/
}
.leftNavArea .linkHdr, .mainRight .linkHdr {
	font-size: 1.2em;
	font-weight: bold;
	color: #c60;
}
.leftNavArea ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-left: 0px;
}
.leftNavArea ul li a {
	display: block;
	font-size: 1.1em;
	margin: 4px 0;
	line-height: normal;
}
.leftNavArea ol {
	padding: 0;
	margin: 0;
	margin-left: 0px;
	padding-left: 24px;
	font-size: 1.1em;
	color: #666;
}
.leftNavArea ol li .author{
	color: #c60;
}
.leftNavArea ol li a {
	display: block;
	margin: 4px 0 -4px;
	line-height: normal;
}
.leftNavArea a, .leftNavArea a:visited {
	text-decoration: none;
}
.leftNavArea a:hover {
	text-decoration: underline;
}
.leftNavArea .seeAll {
	font-size: 1.1em;
	text-align: right;
	line-height: 1.6em;
	border-bottom: 1px dotted #000;
	border-top: 1px solid #c60;
	margin: 5px 0 10px;
}
.leftNavArea .testi {
	line-height: 14px;
	color: #666;
	font-style: italic;
}
.leftNavArea .testiName {
	text-align: right;
	font-weight: bold;
	color: #c60;
	margin-bottom: 8px;
}
.clear {
	clear: both;
}
.mainArea {
	width: 750px;
	float: left;
	font-size: 1.1em;

}
.inMainArea {
	width: 728px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	padding: 0 10px;
} 
.topCurve, .botCurve {
	width: 750px;
	height: 8px;
	background-image: url(../images/crv_top.png);
	background-position: center top;
}
.botCurve {
	width: 750px;
	height: 8px;
	background-image: url(../images/crv_bot.png);
	background-position: center bottom;
	margin-bottom: 20px;
}
.inMainAreaTop {
	font-weight: bold;
	padding-bottom: 2px;
	border-bottom: 1px dotted #666;
	margin-bottom: 8px;
}
.inMainAreaHdr {
	color: #c60;
	font-size: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
	width: 80%;
	float: left;
}
.inMainAreaViewAll {
	width: 19%;
	text-align: right;
	float: left;
}
.inMainAreaViewAll a, .inMainAreaViewAll a:visited {
	text-decoration: none;
	line-height: 18px;
}
.inMainAreaViewAll a:hover {
	text-decoration: underline;
}
.inMainArea .column {
	width: 145px;
	text-align: center;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.2em;
}
.inMainArea .bkImage {
	border: 1px solid #ccc;
	margin: 0 auto 5px;
	display: block;
}
.inMainArea .skuTitle {
	font-size: 1.1em;
	font-weight: bold;
}

.inMainArea .ourPrice {
	font-weight: bold;
}
.inMainArea .save {
	font-weight: bold;
	color: #c60;
}
.inMainArea .buyBut {
	width: 84px;
	height: 25px;
	margin: 5px auto;
}
.inMainArea .searchBg {
	width: 686px;
	height: 57px;
	background-image: url(../images/search_donee_bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	margin: 10px auto 0;
	color: #fff;
	padding: 14px;
	font-size: 1.2em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.inMainArea .searchArea {
	line-height: 22px;
	text-align: center;
	margin-top: 16px;
}
.inMainArea .donorText {
	font-size: 1em;
	color: #666;
	line-height: 1.6em;
}
.searchArea .dropDown, .searchArea .textField, .topSearchArea .dropDown, .topSearchArea .textField {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	width: 180px;
	margin-right: 8px;
}

.searchArea .searchButton, .topSearchArea .searchButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #000;
	width: 70px;
	margin-right: 8px;
}
.footerTop, .footerBot {
	background-image: url(../images/footer_top.png);
	background-position: center top;
	background-repeat: no-repeat;
	width: 960px;
	height: 7px;
	margin: 0 auto;
}
.footerBot {
	background-image: url(../images/footer_bot.png);
}
.footerMid {
	width: 918px;
	background-color: #f4f4f4;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	text-align: center;
	padding: 10px 20px;
	margin: 0 auto;
}
.footerHdr {
	font-size: 1.2em;
	font-weight: bold;
	color: #c60;
	padding: 0;
}
.dottedLine {
	height: 10px;
	border-bottom: 1px dotted #999;
	margin-bottom: 5px;
}
.topSearchArea {
	width: 630px;
	margin-left: 30px;
	line-height: 22px;
	text-align: right;
	padding-top: 40px;
	font-size: 1.2em;
	font-weight: bold;
}
.topSearchArea .searchText {
	float: left;
	margin-right: 8px;
}
.topSearchArea a, .topSearchArea a:visited {
	color: #666;
	font-size: 11px;
}
.topSearchArea a:hover {
	color: #000;
}
.topSearchArea .textField {
	padding: 3px 0px 0px 2px;
	font-size: 12px;
	width: 300px;
	float: left;
	height:17px;
}
.topSearchArea .searchBut {
	width: 21px;
	height: 21px;
	float: left;
	margin-left: 5px;
}
.globalLinks {
	width: 960px;
	line-height: 25px;
	text-align: center;
	margin: 0 auto 10px;
	font-size: 1.1em;
	font-weight: bold;
	padding-top: 3px;
}
.globalLinks a, .globalLinks a:visited {
	color: #666;
	margin: 0 8px;
}
.globalLinks a:hover {
	color: #000;
}
.mainArea .mainLeft {
	width: 550px;
	float: left;
	border-left: 1px dotted #333;
	border-right: 1px dotted #333;
	padding: 0 8px;
	margin: 0 10px;
}
.mainArea .mainRight {
	width: 160px;
	float: left;
	/**margin-left: 10px;
	padding-left: 8px;
	border-left: 1px dotted #333;**/
}
.mainArea .topRow {
	width: 550px;
	background-image: url(../images/hm_top_bks.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	height: 185px;
	line-height: 2em;
	padding-bottom: 8px;
	border-bottom: 1px dotted #333;
	margin-bottom: 8px;
}
.mainArea .topRow .textArea {
	width: 380px;
}
.mainArea .topRow .mainHdr {
	font-size: 2.8em;
	color: #c60;
	margin-bottom: 8px;
}
.mainArea .topRow .readMore {
	text-align: right;
}
.mainArea .mainLeftHdr {
	font-size: 1.6em;
	color: #c60;
	margin-bottom: 6px;

}
.collText {
	width: 330px;
	float: left;
	line-height: 1.6em;
	font-style: italic;
	color: #666;
}
#collImage {
	width: 215px;
	margin-right: 5px;
	float: left;
}
#giftImage {
	width: 75px;
	margin-right: 5px;
	float: left;
}
.giftText {
	width: 470px;
	float: left;
	line-height: 1.6em;
	font-style: italic;
	color: #666;
}
.collLink {
	text-align: right;
}
.hmMainRows {
	padding-bottom: 8px;
	border-bottom: 1px dotted #666;
	margin-bottom: 8px;
}
.vColumns, .vMidColumn {
	width: 23%;
	float: left;
	text-align: center;
	margin-top: 8px;
}
.vColumns img {
	width: 68px;
	border:1px solid #cacaca;
}
.vMidColumn {
	margin: 8px 12px 0;
}
.titleEtc {
	width: 85%;
	text-align: left;
	margin: 0 auto;
}
.bkTitle {
	font-size: 11px;
	font-weight: bold;
	line-height: 1.6em;
}
.lineHeight14em {
	font-size: 11px;
	line-height: 1.4em;
}
.youSave {
	line-height: 1.4em;
	color: #c60;
	font-weight: bold;
}
.hmScrollRow {
	width: 550px;
	padding-bottom: 8px;
	border-bottom: 1px dotted #666;
	margin-bottom: 8px;
	background-color: #fff;
}
.hmLeftScroll, .hmRightScroll {
	width: 17px;
	float: left;
	padding-top: 50px;
	padding-right: 4px;
}
.hmRightScroll {
	padding-right: 0;
	padding-left: 4px;
	float:right;
}
.hmInScrollRow {
	width: 550px;
}
.leftNavArea .linkHdr {
	font-size: 1.2em;
	font-weight: bold;
	color: #c60;
}
.mainRight .testiText {
	font-size: 1.0em;
	font-style: italic;
	line-height: 1.8em;
	color: #666;
}
.mainRight  .testiName {
	font-weight: bold;
	text-align: right;
	margin-bottom: 8px;
}
.mainRight .dottedLine {
	height: 8px;
	border-bottom: 1px dotted #333;
	margin-bottom: 8px;
}
.newsHline {
	font-size: 12px;
	margin-top: 5px;
}
.newsItem {
	font-size: 10px;
	line-height: 14px;
}
.newsReadMore {
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 12px;
}

.topLinksOut {
	width: 659px;
}

.topLinksArea {
	float: right;
}
.logo {
	width: 284px;
	height: 89px;
	float: left;
	margin: 11px 0 0 5px;
}
.logo a{
	width: 284px;
	height: 89px;
	background-image: url(../images/ekkitab_logo.png);
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
}
.logo a:hover{
	background-image: url(../images/ekkitab_logo.png);
	background-position: left -100px;
	background-repeat: no-repeat;
	display: block;
}
.headerRight {
	width: 666px;
	float: left;
}
.linkAreaMain {
	height: 25px;
	color: #fff;
	float: left;
}
.linkBg {
	background-image: url(../images/toplink_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	float: left;
	height: 25px;
	line-height: 25px;
}
.linkAreaLeft {
	background-image: url(../images/toplink_bg_left.png);
	background-position: left top;
	height: 25px;
	background-repeat: no-repeat;
	float: left;
	display: block;
	width: 7px;
	/*margin-left: 364px;*/

}
.linkAreaRight {
	background-image: url(../images/toplink_bg_right.png);
	background-position: right top;
	height: 25px;
	background-repeat: no-repeat;
	float: left;
	display: block;
	width: 7px;
}
.linkAreaMain a {
	line-height: 25px;
	color: #fff;
	padding: 0 4px;
	text-decoration: none;
	background-image: url(../images/toplink_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	display: block;
	float: left;
	font-size: 11px;
}
.linkAreaMain a:hover {
	color: #fff;
	text-decoration: underline;
}

.mainArea .middle {
	width: 710px;
	float: left;
	border-left: 1px dotted #333;
	padding: 0 15px 0px 15px;
	margin: 0 15px 15px 15px;
}

<!-- styles below added on Feb 2, 2010 -->

.delete {
	clear: both
}

.donateAreaIn {
	width: 180px;
	/*background-image: url(../images/donate_bks_small.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;*/
	margin-bottom: 8px;
}
.donateAreaIn .text {
	font-size: 11px;
	line-height: 16px;
}
.donateAreaIn img {
	margin-top: 10px;
	float:right;
}
.mainArea .inLeft {
	border-left:1px dotted #333333;
	padding:0 0 0 12px;
	margin: 0 0 0 13px;
	min-height: 250px;
}
.searchRow {
	border-bottom: 1px dotted #333333;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.searchRow .skuImage {
	width: 110px;
	float: left;
}
.searchRow .skuImage .image {
	width: 72px;
	overflow:hidden;
	border:1px solid #cacaca;
}
.searchRow .detailsArea {
	width: 449px;
	float: left;
	font-size: 11px;
	border-right:1px dotted #333333;
}
.searchRow .detailsArea .synop {
	font-style:italic;
	color: #666;
	margin: 5px 0;
}
.searchRow .priceArea {
	width: 154px;
	margin: 15px 0 0 10px;
	font-size: 11px;
	float: left;
}
.searchArea {
	margin-bottom: 10px;
	font-size: 11px;
}
.searchArea .bigImage {
	width: 210px;
	float: left;
	text-align: center;

}
.searchArea .bigImage img {
	border:1px solid #333;
}
.searchArea .midArea {
	width: 512px;
	padding: 0 9px 0 9px;
	float: left;
	border-left: 1px dotted #333; 
	border-right: 1px dotted #333; 
}
.finDetBkTitle {
	font-size: 18px;
	margin-bottom: 10px;
	line-height:1.4em;
	border-bottom: 1px dotted #333;

}
.starRating {
	padding: 5px 0;
}
.boldFont {
	font-weight: bold;
}
.finDetSynop {
	margin: 16px 0;
	line-height: 18px;
	color: #666;
}
.finDetUserReview {
	width: 492px;
	height: 30px;
	background-image: url(../images/review_title_bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
}
.userRevText {
	width: 192px;
	float: left;
	font-size: 12px;
	font-weight: bold;
}
.writeRevLink {
	width: 270px;
	float: right;
	text-align: right;
}
.writeRevLink a {
	color: #fff;
}
.reviews {
	font-style: italic;
	color: #666;
	line-height: 18px;
	margin-top: 10px;
}
.hideReviewForm {
	display:none;
}
.showReviewForm {
	display:block;
}
.reviewee {
	text-align: right;
	font-weight: bold;	
	color: #000;
	line-height: 18px;
	border-bottom: 1px dotted #333;

}
.searchArea .buyArea {
	width: 188px;
	float: left;
	margin:0px 0 0 10px;
}
.searchArea .buyBut {
	margin: 8px 0 24px;
}
.searchArea .otherBut {
	margin-bottom: 8px;
}
.seeAll {
	border-bottom:1px dotted #000000;
	border-top:1px solid #CC6600;
	font-size:11px;
	line-height:16px;
	margin:5px 0 10px;
	text-align:right;
}
.buyArea .linkHdr {
	color:#CC6600;
	font-size:12px;
	font-weight:bold;
}
.dottedLineBig {
	height: 5px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #333;
}

<!-- styles below changed / added on Feb 3, 2010 -->

.delete {
	clear: both
}
.globalLinks {
	font-size:1.1em;
	font-weight:bold;
	line-height:25px;
	margin:0 auto;
	padding-top:3px;
	text-align:center;
	width:960px;
}
.breadCrumbs {
	line-height: 24px;
	border-bottom: 1px dotted #333;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 8px;

}
.breadCrumbs a, .breadCrumbs a:visited {
	font-weight: normal;
	text-decoration: underline;
}

.welcomeMsgArea {
	width: 300px;
	float: left;
	text-align: right;
	line-height: 25px;
	font-size: 11px;
	color: #c60;
}

.paginationAreaOut{
	float:right;
	width: 35%;
}
.paginationArea {
	clear: both;
	line-height: 24px;
	text-align: right;
	font-size: 11px;
	margin: -5px 0 10px;
	float:right;
	/*margin-left: 550px;*/
}
.paginationArea ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.paginationArea ul li {
	margin: 0;
	display: block;
	float: left;
	font-weight: bold;

}
.paginationArea ul li a {
	border-left: 1px solid #333;
	padding: 0px 5px;
	margin: 0 0px;
} 

.paginationArea .nolink {
	padding: 0px 5px;
	margin: 0 0px;
	color: #ccc;
} 

#sep {
	padding: 0px 5px;
	margin: 0 0px;
	border-left: 1px solid #333;
	color: #ccc;
} 

.paginationArea ul li a:hover {
	background-color: #c60;
	color: #fff;
	text-decoration: none;
}
.paginationArea ul li span {
	border-left: 1px solid #333;
	padding: 0px 4px;
	margin: 0;
	font-weight: bold;
	color: #c60;
}
#prev {
	border-left: 1px solid #fff;
}

.searchResTop {
	font-size:11px;
	line-height:24px;
	margin-bottom:8px;
	padding-right:0px;
	text-align:left;
	border-bottom: 1px dotted #333;
}
.searchResTop .leftArea {
	width: 65%;
	float: left;
}

.searchResTop .rightArea {
	width: 35%;
	float: right;
}
.topPaginationArea {
	float:right;
	line-height: 24px;
	text-align: right;
	font-size: 11px;
}
.topPaginationArea ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.topPaginationArea ul li {
	margin: 0;
	display: block;
	float: left;
	font-weight: bold;

}
.topPaginationArea ul li a {
	border-left: 1px solid #333;
	padding: 0px 5px;
	margin: 0 0px;
} 

.topPaginationArea ul li a:hover {
	background-color: #c60;
	color: #fff;
	text-decoration: none;
}
.topPaginationArea ul li span {
	border-left: 1px solid #333;
	padding: 0px 4px;
	margin: 0;
	font-weight: bold;
	color: #c60;
}

.topPaginationArea .nolink {
	padding: 0px 5px;
	margin: 0 0px;
	color: #ccc;
} 
.padder10px{
	margin-top: 10px;
} 
.reviewArea {
	width: 500px;
	margin: 0 auto 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #333;
}
.reviewArea .labelArea {
	width: 30%;
	float: left;
}
.reviewArea .valueArea {
	width: 68%;
	float: left;
	height: 30px;
}
.reviewArea .valueArea .textField {
	width: 200px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	margin-top: 8px;
}
.revTextField {
	width: 480px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}

.reviewArea .pageHeader {
	color:#CC6600;
	line-height:1.1em;
	float:none;
	font-size:20px;
	margin-bottom: 8px;
	border-bottom: 1px dotted #333;
	width:100%;
}
.reviewArea .labelText {
	font-size: 14px;
	padding: 8px 0;
}
.reviewArea .buttonArea {
	margin: 5px auto 0;
	text-align: center;
}
.reviewArea .buttonArea img {
	margin: 0 5px;
}

.allCategoriesArea {
	width: 700px;
	margin: 0 auto 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #333;
}
.allCategoriesArea .pageHeader {
	color:#CC6600;
	float:none;
	font-size:20px;
	width:74%;
}
.allCategoriesLists, .allCategoriesListsFirst {
	width: 30%;
	border-left: 1px solid #ccc;
	font-size: 11px;
	line-height: 18px;
	float: left;
	padding-left: 5px;
}
.allCategoriesListsFirst {
	padding-left: 0;
	border-left: 0px solid #ccc;

}
.allCategoriesLists ul, .allCategoriesListsFirst ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-left: 10px;
}
.allCategoriesLists li a, .allCategoriesLists li a:visited, .allCategoriesListsFirst li a, .allCategoriesListsFirst li a:visited {
	color: #666;
	text-decoration: none;
}
.allCategoriesLists li a:hover, .allCategoriesListsFirst li a:hover {
	text-decoration: underline;
	color: #03c;
}

.authorSep {
	width: 130px;
	height: 48px;
	background-image: url(../images/author_sep_bg.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0 auto;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 48px;
	font-weight: bold;
	
}

.authorsArea {
	width: 780px;
	margin: 0 auto 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #333;
}
.authorsArea .pageHeader {
	color:#CC6600;
	float:none;
	font-size:20px;
	width:74%;
}
.authorsButArea {
	margin: 10px auto;
	padding: 0 0 6px;
	border-bottom: 2px solid #c60;
}
.authorBut {
	width: 25px;
	height: 24px;
	background-image: url(../images/author_but_bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	text-align: center;
	line-height: 24px;
	font-size: 18px;
	margin-right: 5px;
	float: left;
}
.authorBut a, .authorBut a:visited {
	color: #666;
	text-decoration: none;
	width: 25px;
	display: block;
}
.authorBut a:hover {
	color: #000;
}
.authorLists, .authorListsFirst {
	width: 189px;
	border-left: 1px solid #ccc;
	font-size: 11px;
	line-height: 18px;
	float: left;
	padding-left: 5px;
}
.authorListsFirst {
	padding-left: 0;
	border-left: 0px solid #ccc;

}
.authorLists ul, .authorListsFirst ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-left: 10px;
}
.authorLists li a, .authorLists li a:visited, .authorListsFirst li a, .authorListsFirst li a:visited {
	color: #666;
	text-decoration: none;
}
.authorLists li a:hover, .authorListsFirst li a:hover {
	text-decoration: underline;
	color: #03c;
}
.authorSep {
	width: 130px;
	height: 48px;
	background-image: url(../images/author_sep_bg.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0 auto;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 48px;
	font-weight: bold;
	
}
.authPaginationArea {
	clear:both;
	font-size:11px;
	line-height:24px;
	text-align:right;
	width:170px;
	margin-left: 700px;
	margin-bottom: 10px;
}
.authPaginationArea ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.authPaginationArea ul li {
	float: left;
	font-weight: bold;
}
.authPaginationArea ul li a {
	border-left:1px solid #333333;
	margin:0 0;
	padding:0 5px;
}
.authPaginationArea ul li span {
	border-left:1px solid #333333;
	color:#CC6600;
	font-weight:bold;
	margin:0;
	padding:0 4px;
}
.padderTop5px {
	padding-top: 5px;
}

.marginTop5px {
	margin-top: 5px;
}

<!-- styles added / changed on March 10 -->
.delete {
	clear: both;
}


.scartArea {
	width: 940px;
	margin: 0 0 100px;
	padding: 0;
	font-size: 11px;
	line-height: 22px;
}

.scartArea .skuScartRow {
	padding-bottom: 3px;
	margin-bottom: 3px;
	border-bottom: 1px dotted #333;
}
/*.scartArea .skuScartRow .titleText {
	text-align: center;
	font-weight: bold;
	background-color: #e6e6e6;
	margin-right: -5px;
	margin-left: -5px;
}*/
.scartArea .itemColHdr {
	padding-left: 10px;
	text-align: left;
	width: 420px;
	float: left;
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	font-weight: bold;
	background-color: #e6e6e6;
}
.scartArea .itemCol {
	width: 422px;
	float: left;
	padding-left: 10px;
	text-align: left;
}

.scartArea .trashBoxColHdr {
	width: 26px;
	float: left;
	border-right: 1px solid #666;
	background-color: #e6e6e6;
	text-align: center;
	height: 22px;

}
.scartArea .trashBoxCol {
	width: 27px;
	float: left;
	text-align: center;
}
.scartArea .checkBoxColHdr {
	width: 24px;
	float: left;
	border-left: 1px solid #666;
	background-color: #e6e6e6;
	text-align: center;
	height: 22px;

}
.scartArea .checkBoxCol {
	width: 25px;
	float: left;
	text-align: center;
}
.chkBox {
	padding: 1px 0 0 0;
	margin: 0;
}
.scartArea .unitPriceColHdr {
	text-align: left;
	padding-left: 10px;
	width: 122px;
	float: left;
	border-right: 1px solid #666;
	font-weight: bold;
	background-color: #e6e6e6;
}
.scartArea .unitPriceCol {
	width: 123px;
	float: left;
	padding-left: 10px;
	text-align: left;
	line-height: 18px;
}

.scartArea .shipColHdr {
	text-align: left;
	padding-left: 10px;
	width: 144px;
	float: left;
	border-right: 1px solid #666;
	font-weight: bold;
	background-color: #e6e6e6;
}
.scartArea .youSave {
	color: #c60;
	font-weight: normal;
}
.scartArea .shipCol {
	padding-left: 10px;
	width: 145px;
	float: left;
	text-align: left;
}

.scartArea .subTotalColHdr {
	padding-left: 10px;
	width: 130px;
	text-align: left;
	float: left;
	border-right: 1px solid #666;
	font-weight: bold;
	background-color: #e6e6e6;
}
.scartArea .subTotalCol {
	padding-left: 10px;
	width: 131px;
	float: left;
	text-align: left;
}

.scartArea .qtyColHdr {
	padding-left: 10px;
	text-align: left;
	float: left;
	border-right: 1px solid #666;
	font-weight: bold;
	background-color: #e6e6e6;
	width: 60px;
}
.scartArea .qtyCol {
	padding-left: 10px;
	width: 61px;
	float: left;
	text-align: left;
}

.scartArea .butColHdr {
	width: 134px;
	text-align: left;
	float: left;
	border-right: 1px solid #666;
	font-weight: bold;
	background-color: #e6e6e6;
}
.scartArea .butCol {
	width: 134px;
	float: left;
	text-align: center;
}

.qtyTextField {
	width:35px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
}
#wlistBut {
	margin-bottom: 2px;
}
.grandTotalArea {
	padding-bottom: 3px;
	margin-bottom: 3px;
	border-bottom: 2px solid #c60;
}
.grandTotalLeft {
	width: 799px;
	padding-right: 5px;
	text-align: right;
	font-weight: bold;
	float: left;
	font-size: 12px;
}
.grandTotalRight {
	font-size: 12px;
	width: 129px;
	float: left;
	padding-right: 6px;
	text-align: right;
	font-weight: bold;
}
.modifiedText {
	float: left;
}
.modifiedText1 {
	float: left;
	font-weight: bold;
	padding: 0 10px;
}
.updateBut {
	width: 103px;
	float: left;
	margin-left: 5px;
}
.bkHomePage {
	width: 765px;
	float: left;
	line-height: 25px;
	text-align: right;
}
.proceedCheckout {
	width: 166px;
	margin-left: 5px;
	float: left;

}
.scartArea .skuImageHdr, .scartArea .skuImage {
	float:left;
	width:109px;
	background-color: #e6e6e6;
	border-left: 1px solid #666;
}
.scartArea .skuImage {
	background-color: #fff;
	border-left: none;
	text-align: center;
}

.scartArea .pageHeader {
	color:#CC6600;
	line-height:1.1em;
	float:none;
	font-size:20px;
	margin-bottom: 8px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #333;
	width:100%;
}

.aboutUsArea {
	border-bottom:1px dotted #333333;
	margin:16px auto 10px;
	padding-bottom:10px;
	width:880px;
	font-size: 11px;
	line-height: 22px;
}
.aboutUsArea .pageHeader {
	color:#CC6600;
	float:none;
	font-size:20px;
	width:100%;
}
.aboutUsArea ul {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	
}
.aboutUsArea em {
	font-size: 14px;
	line-height: 20px;
}
.aboutUsArea .horLine {
	height: 10px;
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
}
.aboutUsArea .abtTextArea {
	width: 690px;
	float: left;
	padding-top: 10px; 
}
.aboutUsArea .excerptArea {
	width: 165px;
	float: right;
	margin: 0 0 10px 10px;
	padding-left: 10px;
	border-left: 1px solid #c60;
}
.notFoundArea {
	border-bottom:1px dotted #333333;
	margin:16px auto 10px;
	padding-bottom:10px;
	width:880px;
	font-size: 11px;
	line-height: 22px;
}
.notFoundArea .pageHeader {
	color:#CC6600;
	float:none;
	font-size:20px;
	width:100%;
}
.notFoundArea ul {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	list-style-type:circle;
}
.notFoundArea em {
	font-size: 14px;
	line-height: 20px;
}
.notFoundArea .horLine {
	height: 10px;
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
}
.notFoundArea .abtTextArea {
	width: 600px;
	float: left;
	padding-top: 10px; 
}
.notFoundArea .excerptArea {
	width: 155px;
	float: right;
	margin: 0 0 10px 10px;
	padding-left: 10px;
	border-left: 1px solid #c60;
}
