<?xml version="1.0"?>
<config>    
    <modules>
        <Ekkitab_Catalog>
            <version>0.1.0</version>
        </Ekkitab_Catalog>
    </modules>
	<global>
		<search_index><path>search_index_dir</path></search_index>
		<java_inc><path>Java.inc</path></java_inc>
		<models>
			<ekkitab_catalog>
				<class>Ekkitab_Catalog_Model</class>
				<!-- 
				need to create our own resource, can't just use core_mysql4
				-->
				<resourceModel>ekkitab_catalog_resource_mysql4</resourceModel>
			</ekkitab_catalog>   
			<ekkitab_catalog_resource_mysql4>
				<class>Ekkitab_Catalog_Model_Resource_Mysql4</class>  
				 <entities>
						<product>
							<table>books</table>
						</product>
						<author_topAuthors>
							<table>ek_catalog_top_authors</table>
						</author_topAuthors>
						<category_popular>
							<table>ek_catalog_popular_categories</table>
						</category_popular>
						<product_bestsellers>
							<table>ek_catalog_product_bestsellers</table>
						</product_bestsellers>
						<product_newreleases>
							<table>ek_catalog_product_newreleases</table>
						</product_newreleases>
						<product_bestboxedsets>
							<table>ek_catalog_product_best_boxedsets</table>
						</product_bestboxedsets>
						<wishlist_item>
							<table>wishlist_item</table>
						</wishlist_item>
						<leftlinks>
							<table>ek_left_links</table>
						</leftlinks>
						<leftlink_header>
							<table>ek_left_link_header</table>
						</leftlink_header>
						<leftlink_query>
							<table>ek_left_link_query</table>
						</leftlink_query>
						<globalsection>
							<table>ek_catalog_global_sections</table>
						</globalsection>
						<globalsection_products>
							<table>ek_catalog_global_section_products</table>
						</globalsection_products>
				 </entities>
			</ekkitab_catalog_resource_mysql4>
		</models>
		<!-- 
		Following code is for resource connections
		-->
		<resources>
			<ekkitab_catalog_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ekkitab_catalog_write>
			<ekkitab_catalog_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ekkitab_catalog_read>      
		</resources> 	
		<helpers>
            <ekkitab_catalog>
                <class>Ekkitab_Catalog_Helper</class>
            </ekkitab_catalog>
        </helpers>
		<blocks>
			<ekkitab_catalog>
				<class>Ekkitab_Catalog_Block</class>
			</ekkitab_catalog>   
			<!-- 
			Since we are not overwriting the core's catalog module ..I am commenting this section off .
			-->
			<!-- 
			Since we are overwriting the core's catalog module ..we need to rewrite the modules under the new catalog module.
			-->
			<!--catalog>
				<rewrite>
						<author_topAuthors>Ekkitab_Catalog_Block_Author_TopAuthors</author_topAuthors>
						<category_popular>Ekkitab_Catalog_Block_Category_Popular</category_popular>
				</rewrite>
			</catalog-->
		</blocks>
	</global>
	<frontend>
		<routers>
			<ekkitab_catalog>
				<use>standard</use>
				<args>
					<module>Ekkitab_Catalog</module>
					<frontName>ekkitab_catalog</frontName>
				</args>
			</ekkitab_catalog>
		</routers>
	</frontend>       
</config>   
