tmp/
publisherdata/
work/
bookimages/
magento/app/.buildpath
magento/app/.project
magento/app/.settings/
magento/downloader/
magento/media/images.zip
magento/search_index_dir/
magento/categories.xml
db/data/
db/unclassified_codes
logs/
