tmp/
publisherdata/
work/
bookimages/
images/
magento/app/.buildpath
magento/app/.project
magento/app/.settings/
magento/downloader/
magento/media/images.zip
magento/search_index_dir/
magento/search_index_dir_spell_author/
magento/categories.xml
db/data/
db/unclassified_codes
logs/
java/bin/com/
java/.classpath
java/.project
