<?xml version="1.0"?>
<config>    
    <modules>
        <Ekkitab_Catalogsearch>
            <version>0.1.0</version>
        </Ekkitab_Catalogsearch>
    </modules>
	<global>
		<blocks>
			<catalogsearch>
				<rewrite>
						<top>Ekkitab_Catalogsearch_Block_Top</top>
				</rewrite>
			</catalogsearch>
		</blocks>
	</global>
</config>   
