<?xml version="1.0"?>
<config>    
    <modules>
        <Ekkitab_CatalogSearch>
            <version>0.1.0</version>
        </Ekkitab_CatalogSearch>
    </modules>
	<global>
		<search_index><path>search_index_dir</path></search_index>
		<java_inc><path>http://localhost:8080/JavaBridge/java/Java.inc</path></java_inc>
		<models>
			<ekkitab_catalogsearch>
				<class>Ekkitab_CatalogSearch_Model</class>
				<resourceModel>ekkitab_catalogsearch_mysql4</resourceModel>
			</ekkitab_catalogsearch>   
			<ekkitab_catalogsearch_mysql4>
				<class>Ekkitab_CatalogSearch_Model_Mysql4</class>  
			</ekkitab_catalogsearch_mysql4>
		</models>
		<helpers>
            <ekkitab_catalogsearch>
                <class>Ekkitab_CatalogSearch_Helper</class>
            </ekkitab_catalogsearch>
        </helpers>
		<blocks>
			<ekkitab_catalogsearch>
				<class>Ekkitab_CatalogSearch_Block</class>
			</ekkitab_catalogsearch>   
			<!--catalogsearch>
				<rewrite>
						<custom_result>Ekkitab_CatalogSearch_Block_Custom_Result</custom_result>
						<top>Ekkitab_CatalogSearch_Block_Top</top>
				</rewrite>
			</catalogsearch-->
		</blocks>
	</global>
	<frontend>
		<routers>
			<ekkitab_catalogsearch>
				<use>standard</use>
				<args>
					<module>Ekkitab_CatalogSearch</module>
					<frontName>ekkitab_catalogsearch</frontName>
				</args>
			</ekkitab_catalogsearch>
		</routers>
	</frontend>       
</config>   
