<?xml version="1.0"?>
<config>    
    <modules>
        <Ekkitab_CatalogSearch>
            <version>0.1.0</version>
        </Ekkitab_CatalogSearch>
    </modules>
	<global>
		<models>
			<ekkitab_catalogsearch>
				<class>Ekkitab_CatalogSearch_Model</class>
				<resourceModel>ekkitab_catalogsearch_mysql4</resourceModel>
			</ekkitab_catalogsearch>   
			<ekkitab_catalogsearch_mysql4>
				<class>Ekkitab_CatalogSearch_Model_Mysql4</class>  
				 <entities>
					<log>
						<table>ek_catalog_search_log</table>
					</log>
				 </entities>
			</ekkitab_catalogsearch_mysql4>
		</models>
		<resources>
			<ekkitab_catalogsearch_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ekkitab_catalogsearch_write>
			<ekkitab_catalogsearch_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ekkitab_catalogsearch_read>      
		</resources> 	

		<helpers>
            <ekkitab_catalogsearch>
                <class>Ekkitab_CatalogSearch_Helper</class>
            </ekkitab_catalogsearch>
        </helpers>
		<blocks>
			<ekkitab_catalogsearch>
				<class>Ekkitab_CatalogSearch_Block</class>
			</ekkitab_catalogsearch>   
			<!--catalogsearch>
				<rewrite>
						<custom_result>Ekkitab_CatalogSearch_Block_Custom_Result</custom_result>
						<top>Ekkitab_CatalogSearch_Block_Top</top>
				</rewrite>
			</catalogsearch-->
		</blocks>
	</global>
	<frontend>
		<routers>
			<ekkitab_catalogsearch>
				<use>standard</use>
				<args>
					<module>Ekkitab_CatalogSearch</module>
					<frontName>ekkitab_catalogsearch</frontName>
				</args>
			</ekkitab_catalogsearch>
		</routers>
	</frontend>       
</config>   
