<config>    
    <modules>
        <Ekkitab_Configviewer>
            <version>0.1.0</version>
        </Ekkitab_Configviewer>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ekkitab_configviewer_model_observer>
                        <type>singleton</type>                          
                        <class>Ekkitab_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </ekkitab_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>

