<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_Speedster>
            <version>1.1.2</version>
            <depends>
                <Mage_Page />
                <Mage_Adminhtml />
            </depends>
        </Fooman_Speedster>
    </modules>
    
 
    <global>
        <blocks>
            <page>
                <rewrite>
                     <html_head>Fooman_Speedster_Block_Page_Html_Head</html_head>
                </rewrite>                     
            </page>
            <adminhtml>
                <rewrite>
                     <page_head>Fooman_Speedster_Block_Adminhtml_Page_Head</page_head>
                </rewrite>              
            </adminhtml>
        </blocks>
    </global>
</config>