<?xml version="1.0"?>
<config>
    <modules>
        <Ekkitab_Paypal>
            <version>0.1.0</version>
        </Ekkitab_Paypal>
    </modules>
    <global>
        <rewrite>  
            <ekkitab_paypal_standard>  
                <from><![CDATA[#^/paypal/standard/#]]></from>  
               <to>/ekkitab_paypal/standard/</to>
           </ekkitab_paypal_standard>  
		</rewrite>  
		<models>
			<paypal>
				<rewrite>
					<standard>Ekkitab_Paypal_Model_Standard</standard>
					<api_nvp>Ekkitab_Paypal_Model_Standard</api_nvp>
				</rewrite>
            </paypal>
        </models>
    </global>
    <frontend>
 		<routers>
   			<ekkitab_paypal>
    			<use>standard</use>
    			<args>
     				<module>Ekkitab_Paypal</module>
     				<frontName>ekkitab_paypal</frontName>
    			</args>
   			</ekkitab_paypal>
  		</routers>
 	</frontend>
</config>
