<?xml version="1.0"?>
<config>
    <modules>
        <Ekkitab_Wishlist>
            <version>0.1</version>
        </Ekkitab_Wishlist>
    </modules>
    <global>
        <blocks>
            <ekkitab_wishlist>
                <class>Ekkitab_Wishlist_Block</class>
            </ekkitab_wishlist>
        </blocks>
		<helpers>
            <ekkitab_wishlist>
                <class>Ekkitab_Wishlist_Helper</class>
            </ekkitab_wishlist>
        </helpers>
        <models>
            <ekkitab_wishlist>
                <class>Ekkitab_Wishlist_Model</class>
                <resourceModel>ekkitab_wishlist_mysql4</resourceModel>
            </ekkitab_wishlist>
            <ekkitab_wishlist_mysql4>
                <class>Ekkitab_Wishlist_Model_Mysql4</class>
                <entities>
                    <wishlist>
                        <table>wishlist</table>
                    </wishlist>
                    <item>
                        <table>wishlist_item</table>
                    </item>
                </entities>
            </ekkitab_wishlist_mysql4>
        </models>
        <resources>
            <ekkitab_wishlist_setup>
                <setup>
                    <module>Ekkitab_Wishlist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ekkitab_wishlist_setup>
            <ekkitab_wishlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ekkitab_wishlist_write>
            <ekkitab_wishlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ekkitab_wishlist_read>
        </resources>
		<events>
            <ekkitab_checkout_cart_update_items_before>
                <observers>
					<ekkkitab_wishlist>
						<type>singleton</type>
						<class>ekkitab_wishlist/observer</class>
						<method>processCartUpdateBefore</method>
					</ekkkitab_wishlist>
                </observers>
            </ekkitab_checkout_cart_update_items_before>
        </events>
    </global>
    <frontend>
        <routers>
            <ekkitab_wishlist>
                <use>standard</use>
                <args>
                    <module>Ekkitab_Wishlist</module>
                    <frontName>ekkitab_wishlist</frontName>
                </args>
            </ekkitab_wishlist>
        </routers>
    </frontend>
</config>